/**
 * Variables
 */

$defaultGap: 10px;
$bigGap: $defaultGap * 5;
$darkest: #212121;
$dark: #323232;
$medium: #4a4a4a;
$light: #7a7a7a;
$lightest: #f6fbda;
$hover: #f2ff00;
$sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/**
 * Base styles
 */

body {
  background: $darkest;
  color: $light;
  font-family: $sansSerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: $defaultGap;
}

::selection {
  background: $hover;
  color: $dark;
}

.monospace {
  font-family: $monospace;
}

code, pre {
  @extend .monospace;
}

a {
  color: $light;
  text-decoration: underline;
  &:hover {
    color: $hover;
    text-decoration: none;
  }
}

.button-rectangle {
  cursor: pointer;
  background: $hover;
  color: $dark;
  text-decoration: none;
  padding: 0 2px;
  border: 1px solid $dark;
  &:hover {
    background: $dark;
    color: $hover;
    border: 1px solid $hover;
  }
}

hr {
  border: none;
  border-top: 2px solid $medium;
  margin: $defaultGap 0;
  opacity: 1;
}

.app {
  max-width: 1440px;
  margin: auto;
}

.pipe {
  color: $medium;
}

/**
 * Media Queries
 */

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media-breakpoint-up($key) {
  $value: map-get($breakpoints, $key);
  @media (min-width: $value) {
    @content;
  }
}

.d-none {
  display: none !important;
}

.d-md-inline-block {
  @include media-breakpoint-up(md) {
    display: inline-block !important;
  }
}

/**
 * Animations
 */

.app,
.release,
.release-detail {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Layout
 */

.header {
  margin: 0 0 $defaultGap 0;
  display: block;
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
  h1, p {
    margin: 0;
    display: block;
    font-size: 1rem;
  }
}

ul.releases {
  margin: 0;
  padding: 0;
  display: grid;
  gap: $defaultGap;
  grid-template-columns: repeat(2, 1fr);
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(7, 1fr);
  }
  li.release {
    box-sizing: border-box;
    padding: 6px;
    overflow: hidden;
    white-space: nowrap;
    background: $dark;
    color: $lightest;
    cursor: pointer;
    img.release-cover {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      margin-bottom: $defaultGap;
    }
    h1.release-title,
    h2.release-project,
    h3.release-date {
      margin: 0;
      font-size: .8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    h3.release-date {
      color: $light;
      margin-bottom: $defaultGap;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: $defaultGap;
  @include media-breakpoint-up(lg) {
    grid-gap: $bigGap;
  }
  .column {
    overflow: scroll;
  }
}

.release-detail {
  box-sizing: border-box;
  position: relative;
  background: $dark;
  color: $lightest;
  padding: 6px;
  width: 100%;
  margin: 0 auto $defaultGap auto;
  @include media-breakpoint-up(lg) {
    padding: $bigGap;
  }
  h1.release-title,
  h2.release-project {
    font-size: 1rem;
    margin: 0;
    margin-right: 30px + 2px + 6px; // see .release-close
    @include media-breakpoint-up(sm) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }
  h3.release-subtitle {
    font-size: 1rem;
    color: $light;
    margin: 0 0 $defaultGap 0;
  }
  h3.release-runtime {
    @extend .monospace;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 $defaultGap 0;
  }
  img.release-cover {
    width: 100%;
    height: auto;
    margin-bottom: $defaultGap;
  }
  a.release-download,
  a.release-donate {
    @extend .button-rectangle;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: $defaultGap
  }
  div.release-notes-html,
  div.release-credits-html {
    margin: 0 0 $bigGap 0;
    overflow: scroll;
    p {
      margin: 0 0 $defaultGap 0;
    }
  }
  hr {
    border-top: 2px solid $medium;
    border-bottom: none;
    margin: 0 0 $defaultGap 0;
  }

  .release-close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 40px;
    line-height: 23px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: $hover;
    color: $dark;
    border: 1px solid $hover;
    &:hover {
      background: $dark;
      color: $hover;
    }
  }

  ol.release-tracks,
  ul.release-streams,
  ul.release-stats {
    margin: 0 0 $bigGap 0;
    padding: 0 0 0 1.5rem;
  }

  ol.release-tracks {
    li.track {
      color: $light;
      margin-bottom: $defaultGap;
      span,
      a {
        margin-right: 6px;
      }
      span.track-title {
        color: $lightest;
        display: block;
        margin-bottom: 2px;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
      span.track-length {
        @extend .monospace;
      }
      span.track-play,
      a.track-download {
        @extend .button-rectangle;
      }
    }
  }

  ul.release-streams {
    list-style-type: none;
    padding: 0;
    li.stream {
      margin-bottom: $defaultGap;
      display: inline-block;
      a {
        @extend .button-rectangle;
        margin-right: 6px;
      }
    }
  }

  ul.release-stats {
    list-style-type: square;
    li.stat {
      color: $light;
      margin-bottom: $defaultGap;
      span.stat-title {
        color: $lightest;
      }
      span.stat-value {
        @extend .monospace;
      }
    }
  }

}