/**
 * Variables
 */

$defaultGap: 10px;
$darkest: #212121;
$dark: #323232;
$medium: #4a4a4a;
$light: #7a7a7a;
$lightest: #f6fbda;
$hover: #f2ff00;
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/**
 * Base styles
 */

body {
  background: $darkest;
  color: $light;
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: $defaultGap;
}

::selection {
  background: $hover;
  color: $dark;
}

code, pre {
  font-family: $monospace;
}

a {
  color: $light;
  text-decoration: underline;
  &:hover {
    color: $hover;
    text-decoration: none;
  }
}

hr {
  border: none;
  border-top: 2px solid $medium;
  margin: $defaultGap 0;
  opacity: 1;
}

.app {
  max-width: 1440px;
  margin: auto;
}

.pipe {
  color: $medium;
}

/**
 * Media Queries
 */

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media-breakpoint-up($key) {
  $value: map-get($breakpoints, $key);
  @media (min-width: $value) {
    @content;
  }
}

.d-none {
  display: none !important;
}

.d-md-inline-block {
  @include media-breakpoint-up(md) {
    display: inline-block !important;
  }
}

/**
 * Animations
 */

.app,
.release {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Layout
 */

.header {
  margin: 0 0 $defaultGap 0;
  h1, p {
    margin: 0;
    display: block;
    font-size: 1rem;
    @include media-breakpoint-up(md) {
      display: inline;
    }
  }
}

ul.releases {
  margin: 0;
  padding: 0;
  display: grid;
  gap: $defaultGap;
  grid-template-columns: repeat(2, 1fr);
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(7, 1fr);
  }
  li.release {
    box-sizing: border-box;
    padding: 6px;
    overflow: hidden;
    white-space: nowrap;
    background: $dark;
    color: $lightest;
    cursor: pointer;
    img.release-cover {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      margin-bottom: $defaultGap;
    }
    h1.release-title,
    h2.release-project,
    h3.release-date {
      margin: 0;
      font-size: .8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    h3.release-date {
      color: $light;
      margin-bottom: $defaultGap;
    }
    &.open {
      color: $dark;
      background: $hover;
    }
  }
} 

// .release-close {
//   display: none;
//   position: absolute;
//   top: 4px;
//   right: 4px;
//   font-size: 40px;
//   line-height: 23px;
//   width: 30px;
//   height: 30px;
//   text-align: center;
//   cursor: pointer;
//   background: $hover;
//   color: $dark;
//   border: 1px solid transparent;
//   &:hover {
//     background: $dark;
//     color: $hover;
//     border: 1px solid $hover;
//   }
// }

// ol {
//   display: none;
//   margin: 0;
//   padding: 0 0 0 1.5rem;
//   li {
//     color: $light;
//     margin-bottom: $defaultGap;
//     span.track-title {
//       color: $lightest;
//     }
//     span.track-length {
//       font-family: $monospace;
//       color: $light;
//     }
//     span.track-play,
//     a.track-download {
//       display: inline-block;
//       cursor: pointer;
//       background: $hover;
//       color: $dark;
//       text-decoration: none;
//       padding: 2px;
//       border: 1px solid $dark;
//       &:hover {
//         background: $dark;
//         color: $hover;
//         border: 1px solid $hover;
//       }
//     }
//   }
// }